name: Cargo Lint & Test

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Lint & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
    steps:
      - uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} nightly && rustup default ${{ matrix.toolchain }}
      - run: rustup component add clippy
      - run: cargo clippy
      - run: ./test.sh
